In [1]:
# import mysql-connector-python API
import mysql.connector as connector

In [2]:
# import API error library
from mysql.connector import Error

In [3]:
# db client config
connection = connector.connect(user = "LittleLemon Admin", password = "LittleLemon Admin", db = "LittleLemonDB")

In [4]:
# instantiate cursor
cursor = connection.cursor()

In [5]:
# execute SQL query
cursor.execute("SHOW TABLES")

In [6]:
# retrieve results and assign them to 'results' variable
results = cursor.fetchall()

In [7]:
print(results)

[('Bookings',), ('Customer',), ('Menu',), ('OrderDeliveryStatus',), ('Orders',), ('ordersview',), ('Staff',)]

In [10]:
# return first 4 rows where TotalCost > 60
query_with_join = """
SELECT Orders.TotalCost, Customer.FullName, Customer.Email, Customer.ContactNumber 
FROM Orders 
INNER JOIN Customer ON Orders.CustomerID = Customer.CustomerID 
WHERE Orders.TotalCost > 60
LIMIT 4;
"""

In [11]:
# execute SQL query
cursor.execute(query_with_join)

In [12]:
# retrieve results and assign them to 'results' variable
results = cursor.fetchall()

In [13]:
print(cursor.column_names)

# iterate through and print results
for result in results:
    print(results)

('TotalCost', 'FullName', 'Email', 'ContactNumber')
[(Decimal('125'), 'Laney Fadden', 'Laney.Fadden@gmail.com', '(206) 342-8631'), (Decimal('75'), 'Lia Bonar', 'Lia.Bonar@gmail.com', '(248) 762-0356'), (Decimal('235'), 'Giacopo Bramich', 'Giacopo.Bramich@gmail.com', '(717) 550-1675'), (Decimal('220'), 'Merrill Baudon', 'Merrill.Baudon@gmail.com', '(253) 644-2182')]
[(Decimal('125'), 'Laney Fadden', 'Laney.Fadden@gmail.com', '(206) 342-8631'), (Decimal('75'), 'Lia Bonar', 'Lia.Bonar@gmail.com', '(248) 762-0356'), (Decimal('235'), 'Giacopo Bramich', 'Giacopo.Bramich@gmail.com', '(717) 550-1675'), (Decimal('220'), 'Merrill Baudon', 'Merrill.Baudon@gmail.com', '(253) 644-2182')]
[(Decimal('125'), 'Laney Fadden', 'Laney.Fadden@gmail.com', '(206) 342-8631'), (Decimal('75'), 'Lia Bonar', 'Lia.Bonar@gmail.com', '(248) 762-0356'), (Decimal('235'), 'Giacopo Bramich', 'Giacopo.Bramich@gmail.com', '(717) 550-1675'), (Decimal('220'), 'Merrill Baudon', 'Merrill.Baudon@gmail.com', '(253) 644-2182')]
[(Decimal('125'), 'Laney Fadden', 'Laney.Fadden@gmail.com', '(206) 342-8631'), (Decimal('75'), 'Lia Bonar', 'Lia.Bonar@gmail.com', '(248) 762-0356'), (Decimal('235'), 'Giacopo Bramich', 'Giacopo.Bramich@gmail.com', '(717) 550-1675'), (Decimal('220'), 'Merrill Baudon', 'Merrill.Baudon@gmail.com', '(253) 644-2182')]